#screen { 
    -fx-background-image: url("restart.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%
}

#Exit { 
    -fx-background-color: transparent;
    -fx-background-image: url("test.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%
}

#Exit:hover { 
    -fx-background-color: transparent;
    -fx-background-image: url("test2.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%
}

#EnterName {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
    -fx-control-inner-background: black;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}

#Name{
    -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}

#trois{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Score3{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Player3{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#deux{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Score2{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Player2{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#un{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Score1{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#Player1{
	-fx-font-family: 'Connection';
	-fx-font-size: 17 px;
}

#lblVieB{
	-fx-font-family: 'Connection';
}

#lblVieA{
	-fx-font-family: 'Connection';
}

#lblVie4{
	-fx-font-family: 'Connection';
}

#lblVie5{
	-fx-font-family: 'Connection';
}

#lblVie2{
	-fx-font-family: 'Connection';
}

#GameOver{
	-fx-text-fill: red;
	-fx-font-family: 'Connection';
}

#WIN{
	-fx-text-fill: green;
	-fx-font-family: 'Connection';
}

#t35{
	  -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}

#nombre{
	  -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}


#lblScore{
	  -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}


#coups{
	  -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}

#score{
	-fx-background-color: black;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: green;
    -fx-font-family: 'Connection';
    -fx-font-size: 16px;
}


.bodybg{
	-fx-background-image: url("touch5.gif");
	-fx-background-size: 100% 100%;
}

#restart { 
    -fx-background-color: transparent;
    -fx-background-image: url("restart.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%
}

#restart:hover {
    -fx-background-image: url("restart2.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%
}



.b00 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}

.b00:hover {
   -fx-opacity: 1;
}

#b10 {
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	 -fx-border-width: 3 3 3 3;
}



#b10:hover {
	
     -fx-opacity: 1;
}


#b20 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	 -fx-border-width: 3 3 3 3;
}



#b20:hover {
	
     -fx-opacity: 1;
}

#b30 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b30:hover {
      -fx-opacity: 1;
}

#b40 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b40:hover {
      -fx-opacity: 1;
}


#b50 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b50:hover {
      -fx-opacity: 1;
}


#b60 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b60:hover {
      -fx-opacity: 1;
}


#b70 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b70:hover {
      -fx-opacity: 1;
}


#b80 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b80:hover {
      -fx-opacity: 1;
}


#b90 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b90:hover {
      -fx-opacity: 1;
}


#b01 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b01:hover {
      -fx-opacity: 1;
}


#b11 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b11:hover {
      -fx-opacity: 1;
}


#b21 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b21:hover {
      -fx-opacity: 1;
}


#b31 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b31:hover {
      -fx-opacity: 1;
}


#b41 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b41:hover {
      -fx-opacity: 1;
}


#b51 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b51:hover {
      -fx-opacity: 1;
}


#b61 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b61:hover {
      -fx-opacity: 1;
}


#b71 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b71:hover {
      -fx-opacity: 1;
}


#b81 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b81:hover {
      -fx-opacity: 1;
}


#b91 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b91:hover {
      -fx-opacity: 1;
}



#b02 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b02:hover {
      -fx-opacity: 1;
}


#b03 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b03:hover {
      -fx-opacity: 1;
}


#b04 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b04:hover {
      -fx-opacity: 1;
}


#b05 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b05:hover {
      -fx-opacity: 1;
}


#b06 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b06:hover {
      -fx-opacity: 1;
}


#b07 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b07:hover {
      -fx-opacity: 1;
}


#b08 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b08:hover {
      -fx-opacity: 1;
}


#b09 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b09:hover {
      -fx-opacity: 1;
}



#b12 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b12:hover {
      -fx-opacity: 1;
}


#b13 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b13:hover {
      -fx-opacity: 1;
}


#b14 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b14:hover {
      -fx-opacity: 1;
}


#b15 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b15:hover {
      -fx-opacity: 1;
}


#b16 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b16:hover {
      -fx-opacity: 1;
}


#b17 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b17:hover {
      -fx-opacity: 1;
}


#b18 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b18:hover {
      -fx-opacity: 1;
}


#b19 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b19:hover {
      -fx-opacity: 1;
}



#b22 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b22:hover {
      -fx-opacity: 1;
}


#b23 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b23:hover {
      -fx-opacity: 1;
}


#b24 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b24:hover {
      -fx-opacity: 1;
}


#b25 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b25:hover {
      -fx-opacity: 1;
}



#b26 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b26:hover {
      -fx-opacity: 1;
}



#b27 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b27:hover {
      -fx-opacity: 1;
}



#b28 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b28:hover {
      -fx-opacity: 1;
}



#b29 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b29:hover {
      -fx-opacity: 1;
}



#b32 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b32:hover {
      -fx-opacity: 1;
}


#b33 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b33:hover {
      -fx-opacity: 1;
}


#b32 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b32:hover {
      -fx-opacity: 1;
}


#b33 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b33:hover {
      -fx-opacity: 1;
}


#b34 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b34:hover {
      -fx-opacity: 1;
}


#b35 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b35:hover {
      -fx-opacity: 1;
}


#b36 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b36:hover {
      -fx-opacity: 1;
}


#b37 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b37:hover {
      -fx-opacity: 1;
}


#b38 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b38:hover {
      -fx-opacity: 1;
}


#b39 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b39:hover {
      -fx-opacity: 1;
}


#b42 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b42:hover {
      -fx-opacity: 1;
}

#b43 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b43:hover {
      -fx-opacity: 1;
}


#b44 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b44:hover {
      -fx-opacity: 1;
}


#b45 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b45:hover {
      -fx-opacity: 1;
}


#b46 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b46:hover {
      -fx-opacity: 1;
}


#b47 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b47:hover {
      -fx-opacity: 1;
}


#b48 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b48:hover {
      -fx-opacity: 1;
}


#b49 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b49:hover {
      -fx-opacity: 1;
}


#b52 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b52:hover {
      -fx-opacity: 1;
}


#b53 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b53:hover {
      -fx-opacity: 1;
}


#b54 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b54:hover {
      -fx-opacity: 1;
}


#b55 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b55:hover {
      -fx-opacity: 1;
}


#b56 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b56:hover {
      -fx-opacity: 1;
}


#b57 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b57:hover {
      -fx-opacity: 1;
}


#b58 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b58:hover {
      -fx-opacity: 1;
}


#b59 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b59:hover {
      -fx-opacity: 1;
}


#b62 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b62:hover {
      -fx-opacity: 1;
}


#b63 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b63:hover {
      -fx-opacity: 1;
}


#b64 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b64:hover {
      -fx-opacity: 1;
}


#b65 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b65:hover {
      -fx-opacity: 1;
}


#b66 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b66:hover {
      -fx-opacity: 1;
}


#b67 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b67:hover {
      -fx-opacity: 1;
}


#b68 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b68:hover {
      -fx-opacity: 1;
}


#b69 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b69:hover {
      -fx-opacity: 1;
}


#b72 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b72:hover {
      -fx-opacity: 1;
}


#b73 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b73:hover {
      -fx-opacity: 1;
}


#b74 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b74:hover {
      -fx-opacity: 1;
}


#b75 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b75:hover {
      -fx-opacity: 1;
}


#b76 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b76:hover {
      -fx-opacity: 1;
}


#b77 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b77:hover {
      -fx-opacity: 1;
}


#b78 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b78:hover {
      -fx-opacity: 1;
}


#b79 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b79:hover {
      -fx-opacity: 1;
}


#b82 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b82:hover {
      -fx-opacity: 1;
}


#b83 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b83:hover {
      -fx-opacity: 1;
}


#b84 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b84:hover {
      -fx-opacity: 1;
}


#b85 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b85:hover {
      -fx-opacity: 1;
}


#b86 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b86:hover {
      -fx-opacity: 1;
}


#b87 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b87:hover {
      -fx-opacity: 1;
}


#b88 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b88:hover {
      -fx-opacity: 1;
}


#b89 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b89:hover {
      -fx-opacity: 1;
}


#b92 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b92:hover {
      -fx-opacity: 1;
}


#b93 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b93:hover {
      -fx-opacity: 1;
}


#b94 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b94:hover {
      -fx-opacity: 1;
}


#b95 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b95:hover {
      -fx-opacity: 1;
}


#b96 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b96:hover {
      -fx-opacity: 1;
}


#b97 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b97:hover {
      -fx-opacity: 1;
}


#b98 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b98:hover {
      -fx-opacity: 1;
}


#b99 { 
	-fx-background-color: black;
	-fx-border-color:#5CEC58;
	-fx-border-width: 3 3 3 3;
}



#b99:hover {
      -fx-opacity: 1;
}